nav
  ul.navigation
    li.nav-line
      a(href="") FEATURES
    li.nav-line
      a(href="/plan") PLANS
    li.nav-line
      a(href="") REVIEWS
    li.nav-line
      a(href="/signup") SIGN UP
    li.nav-line
      a(href="/login") LOGIN